.a {
  margin-left: auto;
  margin-right: auto;
}
li a {
  text-decoration: none;
}
::ng-deep #card-image {
  width: 420px !important;
}
::ng-deep #card-list {
  width: 50% !important;
  margin: auto;
}
