* {
  box-sizing: border-box;
}
.product {
  width: 380px;
}

.description {
  margin-left: auto;
}

.date-card {
  margin-left: auto;
}
.mat-typography h5 {
  all: initial;
  all: unset;
}
.card-body{
  position: relative;
}
#rentTimePicker{
  position: absolute;
  right: 0;
  top: 0;
}
#returnTimePicker{
  position: absolute;
  right: 0;
  top: 108px;
}