<div *ngIf="!dataLoaded" class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" style="border: 0.5px solid; border-radius: 50%;" src="assets/img/car-logo-default.jpg" alt="Car Rental" height="120" width="120">
</div>
<body>
    <app-navi></app-navi>
    <div class="container">
      <h1 class="rental-header">Rentals</h1>
      <app-rental-card [rental]="rental" *ngFor="let rental of rentals"></app-rental-card>
    </div>
  <app-footer></app-footer>
  <app-collepsible-chat></app-collepsible-chat>
</body>
