.car-delete {
  padding-left: 0px !important;
  padding-right: 0px !important;


}
.car-data-add {
  display: flex !important;
}
.car-image-add {
  padding-left: 0px !important;
  padding-right: 0px !important;


}
/* .image-upload>input {
    display: none !important;
  } */

.file-label {
  display: flex !important;

  height: 100%;
}
.img-fluid {
  margin: auto;
}
.car-img {
  cursor: pointer;
}
.car-img-add > input {
  display: none;
}
label {
  font-weight: 400 !important;
}
.card-title {
  float: none !important;
  font-size: 1.25rem;
  font-weight: 500 !important;
}
.main-footer{
  margin-left: 0 !important;
}