<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a routerLink="" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                    aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/admin/panel" class="brand-link">
                <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item menu-close">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/panel" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Dashboard</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="pages/widgets.html" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Rentals
                                        <span class="right badge badge-danger">New</span>
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <li class="nav-item active menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-car-side"></i>
                                <p>
                                    Manage Cars
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/cars" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add & Delete Cars</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-building"></i>
                                <p>
                                    Brands & Colors
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/brands-colors" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add & Delete</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Manage Users
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/users" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Wiew Users</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Manage Cars</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Add & Delete Cars</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <section class="content">
                <div class="container-fluid">



                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 car-data-add">
                                <img src="assets/img/default-car-add.png" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 style="display: block;" class="card-title">Car Add</h5>
                                    <form [formGroup]="carAddForm">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label for="carName">Car Name</label>
                                                    <div class="form-group">
                                                        <input type="text" id="carName" formControlName="carName"
                                                            class="form-control" placeholder="Car Name">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="modelYear">Model Year</label>
                                                    <div class="form-group">
                                                        <input type="number" id="modelYear" formControlName="modelYear"
                                                            class="form-control" placeholder="Model Year">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description">Description</label>
                                                    <div class="form-group">
                                                        <input type="text" id="description"
                                                            formControlName="description" class="form-control"
                                                            placeholder="Description">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3" id="brandId">
                                                    <label for="brandId">Brand ID</label>
                                                    <select class="form-select" formControlName="brandId"
                                                        aria-label="Default select example">
                                                        <option value="{{brand.brandId}}" *ngFor="let brand of brands">
                                                            {{brand.brandName}}
                                                        </option>>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="colorId">Color ID</label>
                                                    <select class="form-select" formControlName="colorId"
                                                        aria-label="Default select example">
                                                        <option value="{{color.colorId}}" *ngFor="let color of colors">
                                                            {{color.colorName}}
                                                        </option>>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="dailyPrice">Daily Price</label>
                                                    <div class="form-group">
                                                        <input type="number" id="dailyPrice"
                                                            formControlName="dailyPrice" class="form-control"
                                                            placeholder="Daily Price">
                                                    </div>
                                                </div>

                                            </div>
                                            <div><button class="btn btn-primary" (click)="add()">Add</button></div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="height: 430px;">
                        <div class="row">
                            <div class="col-md-4 car-data-add">
                                <img src="assets/img/default-car-add.png" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 style="display: inline;" class="card-title">Car Update</h5>
                                    <select (change)="changeTexts()" class="form-select float-right w-75"
                                        aria-label="Default select example" [(ngModel)]="carSelect">
                                        <option selected value="-1">Select a car</option>
                                        <option *ngFor="let car of cars" [value]="car.carId">ID: {{car.carId}} | Name:
                                            {{car.carName}}</option>
                                    </select>
                                    <form style="margin-top: 30px;" [formGroup]="updateCarForm">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="carName">Car Name</label>
                                                    <div class="form-group">
                                                        <input  type="text" [value]="carNameText" id="carName"
                                                            class="form-control" formControlName="carName" placeholder="Car name">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="modelYear">Model Year</label>
                                                    <div class="form-group">
                                                        <input [value]="modelYearText" type="number" id="modelYear"
                                                            class="form-control" formControlName="modelYear" placeholder="Model Year">
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label  for="description">Description</label>
                                                    <div class="form-group">
                                                        <input [value]="descriptionText" type="text" id="description"
                                                            class="form-control" formControlName="description" placeholder="Description">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3" id="brandId">
                                                    <label for="brandId">Brand ID</label>
                                                    <select [value]="brandSelect" name="brandSelect" 
                                                        class="form-select" aria-label="Default select example">
                                                        <option value="{{brand.brandId}}" *ngFor="let brand of brands">
                                                            {{brand.brandName}}
                                                        </option>>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="colorId">Color ID</label>
                                                    <select [value]="colorSelect" name="colorSelect" 
                                                        class="form-select" aria-label="Default select example">
                                                        <option value="{{color.colorId}}" *ngFor="let color of colors">
                                                            {{color.colorName}}
                                                        </option>>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="dailyPrice">Daily Price</label>
                                                            <div class="form-group">
                                                                <input [value]="dailyPriceText" type="number"
                                                                    id="dailyPrice" formControlName="dailyPrice" class="form-control"
                                                                    placeholder="Daily Price">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="carIdentity">Car ID</label>
                                                            <div class="form-group">
                                                                <input [value]="carIdText" type="number"
                                                                    id="carIdentity" class="form-control"
                                                                    placeholder="Car ID" formControlName="carId">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div><button class="btn btn-warning" (click)="updateCar()">Update</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card car-image-add mb-3 col">
                            <div class="row g-0">
                                <div class="col-md-4 car-img-add">
                                    <label for="file-input" class="file-label">
                                        <img [src]="imageSrc" class="img-fluid car-img" alt="...">
                                    </label>
                                    <input id="file-input" accept=".jpg,.png" (change)="onFileSelected($event)"
                                        type="file">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Car Image Add</h5>

                                        <form [formGroup]="addCarImageForm">
                                            <div class="mb-3">
                                                <label for="carIdForImage">Car ID</label>
                                                <div class="form-group">
                                                    <input type="number" id="carIdForImage" formControlName="carId"
                                                        class="form-control" placeholder="Car ID">
                                                </div>
                                            </div>
                                        </form>

                                        <p class="card-text"><small class="text-muted">Requires Only Car ID and Image
                                                File</small> <button class="btn btn-primary" (click)="onUpload()"
                                                style="float: right;">Add</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card car-delete border-danger mb-3 col">
                            <div class="card-header">Delete Car and Picture</div>
                            <div class="card-body text-danger">
                                <form [formGroup]="deleteCarForm">
                                    <div class="mb-3">
                                        <label for="id">Car ID</label>
                                        <div class="form-group">
                                            <input type="number" id="id" formControlName="carId" class="form-control"
                                                placeholder="Car ID">
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="card-footer">
                                <button class="btn btn-fill btn-danger" (click)="delete()">Sil</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped text-center">
                        <thead>
                            <th>Car ID</th>
                            <th>Brand ID</th>
                            <th>Color ID</th>
                            <th>Car Name</th>
                            <th>Brand Name</th>
                            <th>Color Name</th>
                            <th>Model Year</th>
                            <th>Daily Price</th>
                            <th>Has IMG?</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let car of cars">
                                <td>{{car.carId}}</td>
                                <td>{{car.brandId}}</td>
                                <td>{{car.colorId}}</td>
                                <td>{{car.carName | titlecase}}</td>
                                <td>{{car.brandName | titlecase}}</td>
                                <td>{{car.colorName | titlecase}}</td>
                                <td>{{car.modelYear}}</td>
                                <td>{{car.dailyPrice}}</td>
                                <td>{{car.hasImage.toString() | titlecase}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </section>
            <footer class="main-footer">
                <strong>Project Adress <a class="footer-link"
                        href="https://github.com/Emir-Khan/ReCapProject-FrontEnd">GitHub <a
                            href="https://github.com/Emir-Khan/ReCapProject-FrontEnd"><i
                                class="fab fa-github"></i></a></a>
                    Developed By <a class="footer-link" href="https://github.com/Emir-Khan">Emirhan Köseoğlu </a><a
                        href="https://github.com/Emir-Khan"><i class="fab fa-github"></i></a></strong>
            </footer>

        </div>
    </div>
</body>