<app-navi></app-navi>
<div class="container">

    <div class="card d-none car-delete border-danger mb-3 mt-3 col">
        <div class="card-header">Araba Sil</div>
        <div class="card-body text-danger">
            <form [formGroup]="deleteCarForm">
                <div class="mb-3">
                    <label for="id">Araba ID</label>
                    <div class="form-group">
                        <input type="text" id="id" formControlName="carId" class="form-control" placeholder="Araba ID">
                    </div>
                </div>

            </form>

        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-danger" (click)="delete()">Sil</button>
        </div>
    </div>

    <div class="card mb-3 mt-3" style="width: 100%">
        <div class="row g-0">
            <div class="col-md-4 car-data-add">
                <img src="../../../../assets/img/default-car-add.png" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Araba Ekle</h5>
                    <form [formGroup]="carAddForm">
                        <div class="row">
                            <div class="row col">
                                <div class="mb-3">
                                    <label for="carName">Araba Adı</label>
                                    <div class="form-group">
                                        <input type="text" id="carName" formControlName="carName" class="form-control"
                                            placeholder="Araba adı">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="modelYear">Model Year</label>
                                    <div class="form-group">
                                        <input type="number" id="modelYear" formControlName="modelYear"
                                            class="form-control" placeholder="Model Yılı">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description">Description</label>
                                    <div class="form-group">
                                        <input type="text" id="description" formControlName="description"
                                            class="form-control" placeholder="Açıklama">
                                    </div>
                                </div>
                            </div>
                            <div class="row col">
                                <div class="mb-3">
                                    <label for="brandId">Brand ID</label>
                                    <select class="form-select" formControlName="brandId"
                                        aria-label="Default select example">
                                        <option value="{{brand.brandId}}" *ngFor="let brand of brands">
                                            {{brand.brandName}}
                                        </option>>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="colorId">Color ID</label>
                                    <select class="form-select" formControlName="colorId"
                                        aria-label="Default select example">
                                        <option value="{{color.colorId}}" *ngFor="let color of colors">
                                            {{color.colorName}}
                                        </option>>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="dailyPrice">Daily Price</label>
                                    <div class="form-group">
                                        <input type="number" id="dailyPrice" formControlName="dailyPrice"
                                            class="form-control" placeholder="Günlük Fiyatı">
                                    </div>
                                </div>

                            </div>
                            <div><button class="btn btn-primary" (click)="add()">Ekle</button></div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 car-img-add">
                <label for="file-input" class="file-label">
                    <img [src]="imageSrc" class="img-fluid" alt="...">
                </label>
                <input id="file-input" (change)="onFileSelected($event)" type="file">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Araba Resimi Ekle</h5>

                    <form [formGroup]="addCarImageForm">
                        <div class="mb-3">
                            <label for="carIdForImage">Araba ID</label>
                            <div class="form-group">
                                <input type="number" id="carIdForImage" formControlName="carId" class="form-control"
                                    placeholder="Araba ID">
                            </div>
                        </div>
                    </form>

                    <p class="card-text"><small class="text-muted">Sadece Araba ID ve Resim gerekir</small> <button
                            class="btn btn-primary" (click)="onUpload()" style="float: right;">Ekle</button></p>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>brandId</th>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{car.carId}}</td>
                <td>{{car.brandId}}</td>
            </tr>

        </tbody>
    </table>
</div>