.img-fluid{
    min-height: 300px;
    max-height: 300px;
    min-width: 420px;
    max-width: 420px;
}

.img-box{
    position: relative;
}

.badge{
    position: absolute;
    right: 17px;
    top: 8px;
}

.list-text{
    color: black;
}